In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
import ast

In [7]:
data = pd.read_csv(os.path.join("logs", 'sim_no-learning.csv'))

In [9]:
data.head()

,trial,testing,parameters,initial_deadline,final_deadline,net_reward,actions,success
0,1,False,"{'a': 0.5, 'e': 1.0}",20,0,-75.978151,"{0: 10, 1: 3, 2: 7, 3: 0, 4: 0}",0
1,2,False,"{'a': 0.5, 'e': 1.0}",35,0,-215.926645,"{0: 17, 1: 4, 2: 9, 3: 4, 4: 1}",0
2,3,False,"{'a': 0.5, 'e': 1.0}",30,0,-152.186024,"{0: 15, 1: 3, 2: 10, 3: 1, 4: 1}",0
3,4,False,"{'a': 0.5, 'e': 1.0}",20,0,-92.390863,"{0: 13, 1: 1, 2: 4, 3: 1, 4: 1}",0
4,5,False,"{'a': 0.5, 'e': 1.0}",25,0,-151.936605,"{0: 12, 1: 7, 2: 3, 3: 1, 4: 2}",0

In [10]:
data['good_actions'] = data['actions'].apply(lambda x: ast.literal_eval(x)[0])
data.head()

,trial,testing,parameters,initial_deadline,final_deadline,net_reward,actions,success,good_actions
0,1,False,"{'a': 0.5, 'e': 1.0}",20,0,-75.978151,"{0: 10, 1: 3, 2: 7, 3: 0, 4: 0}",0,10
1,2,False,"{'a': 0.5, 'e': 1.0}",35,0,-215.926645,"{0: 17, 1: 4, 2: 9, 3: 4, 4: 1}",0,17
2,3,False,"{'a': 0.5, 'e': 1.0}",30,0,-152.186024,"{0: 15, 1: 3, 2: 10, 3: 1, 4: 1}",0,15
3,4,False,"{'a': 0.5, 'e': 1.0}",20,0,-92.390863,"{0: 13, 1: 1, 2: 4, 3: 1, 4: 1}",0,13
4,5,False,"{'a': 0.5, 'e': 1.0}",25,0,-151.936605,"{0: 12, 1: 7, 2: 3, 3: 1, 4: 2}",0,12

In [1]:
dict={'a':1,'b':2}
('c', dict['a'], 'd')

('c', 1, 'd')

In [11]:
max(dict, key=dict.get)

'b'

In [12]:
max(dict)

'b'

In [10]:
max(dict.values())

2

In [13]:
'a' not in dict

False

In [13]:
dict = {None:0.0, 'forward':0.0, 'left':0.0, 'right':0.0}
dict[None]

0.0

In [4]:
for k in dict.iterkeys():
    print(k)
    
for item in dict.iteritems():
    print item

a
b
('a', 1)
('b', 2)

In [5]:
import math
math.pow(2,3)
math.exp

8.0

In [14]:
import random
random.choice()

TypeError: choice() takes exactly 2 arguments (1 given)

In [3]:
float(20)/float(50)

0.4

In [8]:
dict = {'forward': 12.14435948823017, None: 6.101577709728374, 'right': 9.74065861581101, 'left': 9.846448806081266}
print(max(dict, key=dict.get))
print(max(dict.values()))

forward
12.1443594882