In [1]:
import numpy as np
import pandas as pd

# Load the dataset
X = pd.read_csv('titanic_data.csv')
# Limit to categorical data
X = X.select_dtypes(include=[object])

In [4]:
X.head()

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S

In [3]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [10]:
le = LabelEncoder()
for feature in X:
    X[feature] = le.fit_transform(X[feature])

In [11]:
X.head()

   Name  Sex  Ticket  Cabin  Embarked
0   108    1     523      0         3
1   190    0     596     82         1
2   353    0     669      0         3
3   272    0      49     56         3
4    15    1     472      0         3

In [15]:
ohe = OneHotEncoder()
onehotlabels = ohe.fit_transform(X)

In [20]:
onehotlabels.toarray().shape

(891, 1726)